<div class="mb-3 mb-4 card">
              <div class="p-1">
                <div class="d-flex justify-content-center position-relative rounded py-12 border-white border rounded-3 bg-cover" style="background: url(&quot;/assets/buy-me-a-coffee.jpg&quot;) center top / cover no-repeat;"><a class="popup-youtube icon-shape rounded-circle btn-play icon-xs text-decoration-none" href="https://youtu.be/Mn82dKTb_Qw">
                    <i class="bi bi-play-circle-fill" width="48" height="48"></i>
                  </a></div>
              </div>
              <div class="card-body">
                <div class="d-grid"><a class="btn btn-outline-primary mb-2  " href="https://twitter.com/cameronmcnz">I really could use another coffee.</a></div>
              </div>
            </div>