			<div class="card" style="text-align: left;">
              <div class="card-body">


                <div class="d-flex align-items-center">
                  <div class="position-relative"><img src="/assets/cameron-ski.jpg" alt="" class="rounded-circle avatar-xl"><a class="position-absolute mt-2 ms-n3" data-bs-toggle="tooltip" data-placement="top" title="Verifed" href="/marketing/courses/course-single/"></a></div>
                  <div class="ms-4">
                    <h4 class="mb-0">Cameron McKenzie</h4>
                    <p class="mb-1 fs-6">AWS Certified Professional</p><span class="fs-6"><span class="text-warning">4.9</span><span class="mdi mdi-star text-warning me-2"></span>Instructor Rating</span>
                  </div>
                </div>



                <div class="border-top mt-3 border-bottom mb-3 g-0 row" style="text-align: center;">
                  <div class="col">
                    <div class="pe-1 ps-2 py-3">
                      <h5 class="mb-0">18,475</h5><span>Students</span>
                    </div>
                  </div>
                  <div class="border-start col">
                    <div class="pe-1 ps-3 py-3">
                      <h5 class="mb-0">+30,000</h5><span>Subscribers</span>
                    </div>
                  </div>
                  <div class="border-start col">
                    <div class="pe-1 ps-3 py-3">
                      <h5 class="mb-0">+6M</h5><span>YT Views</span>
                    </div>
                  </div>
                </div>
                <p>I am a software engineer who loves DevOps, cloud-computing, Agile methodoligies and of course, AWS.</p>
                <a class="btn btn-outline-white btn-sm" href="https://www.youtube.com/@cameronmcnz">View Details</a>
              </div>
            </div>