<div class="mb-3 mb-4 card">
              <div class="p-1">
                <div class="d-flex justify-content-center position-relative rounded py-12 border-white border rounded-3 bg-cover" style="background: url(&quot;/assets/more-flashcards-400.png&quot;) center top / cover no-repeat;"><a class="popup-youtube icon-shape rounded-circle btn-play icon-xs text-decoration-none" href="https://youtu.be/Mn82dKTb_Qw">
                    <i class="bi bi-play-circle-fill" width="48" height="48"></i>
                  </a></div>
              </div>
              <div class="card-body">
                <div class="mb-3"><span class="text-dark fw-bold h2 me-2">Learn AWS for Free!</span></div>
                <div class="d-grid"><a class="btn btn-primary mb-2  " href="https://twitter.com/cameronmcnz">Talk on Twitter</a><a class="btn btn-outline-primary" href="https://www.youtube.com/@cameronmcnz/videos">Subscribe on YouTube</a></div>
              </div>
            </div>