<div class="mb-3 mb-4 card">
              <div class="p-1">
                <div class="d-flex justify-content-center position-relative rounded py-10 border-white border rounded-3 bg-cover" style="background: url(&quot;/assets/scrumtuous-400.png&quot;) center top / cover no-repeat;"><a class="popup-youtube icon-shape rounded-circle btn-play icon-xl text-decoration-none" href="https://youtu.be/Mn82dKTb_Qw">
                    <i class="bi bi-play-circle-fill" width="48" height="48"></i>
                  </a></div>
              </div>
              <div class="card-body">
                <div class="mb-3"><span class="text-dark fw-bold h2 me-2">Get Scrum Certified Now</span>
				<p>Want your resume to stand out? You will if you're Scrum certified and they're not.</p>
				<p>Get Darcy's Scrum Master Certification Guide now!</p></div>
                <div class="d-grid"><a class="btn btn-primary mb-2  " href="https://twitter.com/scrumtuous">Follow Darcy on Twitter</a><a class="btn btn-outline-primary" href="https://www.youtube.com/channel/UCAg98wtgZm1nEVTXGx3XShw">Buy on Amazon</a></div>
              </div>
            </div>