<div class="row">
   <div class="main col col-12 col-sm-12 col-md-12 col-lg-6 mt-2">
      <div class="alert alert-secondary text-center btn-close btn-sm" role="alert">
         We use <a href="https://www.rpacertified.com/2020/10/10/privacy-policy.html">some cookies</a>. We hope that's okay.
         <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
      </div>
   </div>
   <div class="main d-none d-lg-block col-lg-6 mt-2  ">
      <div class="alert alert-secondary text-center btn-close btn-sm" role="alert">
         All content hosted on this site is <a href="https://www.gnu.org/licenses/gpl-3.0.en.html">GNU GPL v3.0</a> licensed.
         <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
      </div>
   </div>
</div>
