<div class="row">
   <div class="main col col-12 col-sm-12 col-md-12 col-lg-6 mt-2">
      <div class="alert alert-secondary text-center btn-close btn-sm" role="alert">
         We're not affiliated with <a href="https://www.uipath.com/learning/certification">UiPath</a>. We just like their stuff.
         <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
      </div>
   </div>
   <div class="main d-none d-lg-block col-lg-6 mt-2  ">
      <div class="alert alert-secondary text-center btn-close btn-sm" role="alert">
         This site uses some cookies. View our <a href="/2020/10/10/privacy-policy.html">privacy policy</a>.
         <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
      </div>
   </div>
</div>
