


    <!-- Start of Footer Area -->
    <footer class="footer stlye2" style="background: linear-gradient(45deg, #6831e3, #f528cb)" data="exc">
        <div class="footer-middle">
            <div class="container"> 
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-12">
                        <!-- Single Widget -->
                        <div class="f-about single-footer">
                            <div class="logo">
                                <!--a href="index.html"><img src="/assets/images/logo/white-logo.svg" alt="Logo"></a-->
                            </div>
                            <p>Follow us on Twitter.</p>
                            <div class="footer-social">
                                <ul>
                                    
                                    <li><a href="https://twitter.com/scrumtuous"><i class="lni lni-twitter-original"></i></a></li>
									<!--
									<li><a href="#"><i class="lni lni-facebook-original"></i></a></li>
                                    <li><a href="#"><i class="lni lni-linkedin-original"></i></a></li>
                                    <li><a href="#"><i class="lni lni-google"></i></a></li> 
									-->
                                </ul>
                            </div>
                        </div>
                        <!-- End Single Widget -->
                    </div>
                    <div class="col-lg-8 col-md-8 col-12">
                        <div class="row">
                            <div class="col-lg-3 col-md-6 col-12">
                                <!-- Single Widget -->
                                <div class="single-footer sm-custom-border f-link">
                                    <h3>About Us</h3>
                                    <ul>
                                        <li><a href="#">Home</a></li>
                                        <li><a href="#">Features</a></li>
                                        <li><a href="#">Explore</a></li>
                                        <li><a href="#">Testimonials</a></li>
                                    </ul>
                                </div>
                                <!-- End Single Widget -->
                            </div>
                            <div class="col-lg-3 col-md-6 col-12">
                                <!-- Single Widget -->
                                <div class="single-footer sm-custom-border f-link">
                                    <h3>Specialties</h3>
                                    <ul>
                                        <li><a href="#">Project Management</a></li>
                                        <li><a href="#">Cloud Computing</a></li>
                                        <li><a href="#">DevOps Stacks</a></li>
                                        <li><a href="#">Technical Consulting</a></li>
                                    </ul>
                                </div>
                                <!-- End Single Widget -->
                            </div>
                            <div class="col-lg-3 col-md-6 col-12">
                                <!-- Single Widget -->
                                <div class="single-footer md-custom-border sm-custom-border f-link">
                                    <h3>Services</h3>
                                    <ul>
                                        <li><a href="#">Agile Coaching</a></li>
                                        <li><a href="#">Scrum Mentorship</a></li>
                                        <li><a href="#">AWS Training</a></li>
                                        <li><a href="#">SAFe Consulting</a></li>
                                    </ul>
                                </div>
                                <!-- End Single Widget -->
                            </div>
                            <div class="col-lg-3 col-md-6 col-12">
                                <!-- Single Widget -->
                                <div class="single-footer md-custom-border sm-custom-border f-contact">
                                    <h3>Contact Info</h3>
                                    <ul>
                                        <li><i class="lni lni-map-marker"></i> 438 King Street West, Toronto, ON, Canada
                                        </li>
                                        <li><i class="lni lni-envelope"></i>info at scrumtuous dot com</li>
                                        
                                    </ul>
                                </div>
                                <!-- End Single Widget -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/ End Footer Middle -->
        <!-- Start Footer Bottom -->
        <div class="footer-bottom">
            <div class="container">
                <div class="inner">
                    <div class="row">
                        <div class="col-12">
                            <div class="left">
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Footer Middle -->
    </footer>
    <!--/ End Footer Area -->

    <!-- ========================= scroll-top ========================= -->
    <a href="#" class="scroll-top btn-hover">
        <i class="lni lni-chevron-up"></i>
    </a>