<section id="team" class="team style4 section" style="padding:0">
        <div class="container">

            <div class="row ">
                <!-- Single Team -->
                <div class="col-lg-3 col-md-6 col-12 ">
				<a href="/aws/practitioner/exam-flashcards.html">
                    <div class="single-team wow fadeInUp" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                        <!-- Image -->
                        <div class="image">
                            <img src="/assets/more-flashcards-400.png" alt="#">
                            <!-- Social -->

                            <!-- End Social -->
                        </div>
                        <!-- End Image -->
                        <div class="info-head">
                            <!-- Info Box -->
                            <div class="info-box">
                                <h4 class="name">More AWS Flashcards</h4>
                                <span class="designation">Reinforce your learning</span>
                            </div>
                            <!-- End Info Box -->
                        </div>
                    </div>
                </a>
				</div>
                <!-- End Single Team -->
                <div class="col-lg-3 col-md-6 col-12">
				<a href="/aws/practitioner/practice-exams-mock-tests.html">
                    <div class="single-team wow fadeInUp" data-wow-delay=".4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                        <!-- Image -->
                        <div class="image">
                            <img src="/assets/more-exams-400.png" alt="#">
                            <!-- Social -->

                            <!-- End Social -->
                        </div>
                        <!-- End Image -->
                        <div class="info-head">
                            <!-- Info Box -->
                            <div class="info-box">
                                <h4 class="name">Practice AWS Exams</h4>
                                <span class="designation">Test your AWS exam knowledge</span>
                            </div>
                            <!-- End Info Box -->
                        </div>
                    </div>
				</a>
                </div>
                <!-- End Single Team -->
                <div class="col-lg-3 col-md-6 col-12">
				<a href="/aws/practitioner/exam-drag-drop-tutorials.html">
                    <div class="single-team wow fadeInUp" data-wow-delay=".6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">
                        <!-- Image -->
                        <div class="image">
                            <img src="/assets/more-drag-and-drop-400.png" alt="#">
                            <!-- Social -->

                            <!-- End Social -->
                        </div>
                        <!-- End Image -->
                        <div class="info-head">
                            <!-- Info Box -->
                            <div class="info-box">
                                <h4 class="name">More Drag and Drop </h4>
                                <span class="designation">Interactively learn AWS</span>
                            </div>
                            <!-- End Info Box -->
                        </div>
                    </div>
					</a>
                </div>
                <!-- End Single Team -->
                <div class="col-lg-3 col-md-6 col-12">
				<a href="https://www.youtube.com/channel/UCAg98wtgZm1nEVTXGx3XShw/videos">
                    <div class="single-team wow fadeInUp" data-wow-delay=".8s" style="visibility: visible; animation-delay: 0.8s; animation-name: fadeInUp;">
                        <!-- Image -->
                        <div class="image">
                            <img src="/assets/more-videos-400.png" alt="#">
                            <!-- Social -->

                            <!-- End Social -->
                        </div>
                        <!-- End Image -->
                        <div class="info-head">
                            <!-- Info Box -->
                            <div class="info-box">
                                <h4 class="name">Video Tutorials</h4>
                                <span class="designation">Learn from the AWS Expert</span>
                            </div>
                            <!-- End Info Box -->
                        </div>
                    </div>
				</a>
                </div>
				
                <!-- End Single Team -->
            </div>
			
			<div class="row mt-5">
                <div class="col-12">
                    <div class="section-title style4 align-center gray-bg">
					<a href="/aws/practitioner/exam-study-guide.html">
                        <span class="wow fadeInDown" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInDown;">Get the AWS Study Guide</span>
					</a>
                    </div>
                </div>
            </div>
        </div>
    </section>