            <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #ffc107;">
               <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown">
               <span class="navbar-toggler-icon"></span>
               </button>
               <div class="collapse navbar-collapse" id="navbarNavDropdown">
                  <ul class="navbar-nav ml-auto">
                     <li class="nav-item active">
                        <a class="nav-link" href="/index.html">Home</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="https://www.theserverside.com">TheServerSide</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="https://www.youtube.com/c/CameronMcKenziedotcom/">YouTube</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="https://www.twitter.com/cameronmcnz">Twitter</a>
                     </li>

                  </ul>
               </div>
            </nav>
  
