            <nav class="navbar navbar-expand-lg navbar-light bg-light">
               <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown">
               <span class="navbar-toggler-icon"></span>
               </button>
               <div class="collapse navbar-collapse" id="navbarNavDropdown">
                  <ul class="navbar-nav ml-auto">
                     <li class="nav-item active">
                        <a class="nav-link" href="https://www.rpacertified.com/index.html">
                        Home</a>
                     </li>
		     <li class="nav-item">
                        <a class="nav-link" href="https://www.rpacertified.com/allarticles.html">Articles</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="https://www.rpacertified.com/associate-objectives.html">Cert Objectives</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="https://www.rpacertified.com/study-guide-uipath.html">Study Guide</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="https://www.rpacertified.com/cert-questions-answers.html">Practice Tests</a>
                     </li>
		     <li class="nav-item">
                        <a class="nav-link" href="https://www.rpacertified.com/cert-brain-dumps-uipath.html">Exam Dumps</a>
                     </li> 
			  
		     <li class="nav-item">
                        <a class="nav-link" href="https://www.rpacertified.com/youtube-linkedin-twitter.html">Contact Us</a>
                     </li>
			  
			  
                  </ul>
               </div>
            </nav>
  
