
    <!-- Preloader -->
    <div class="preloader" style="opacity: 0; display: none;">
        <div class="preloader-inner">
            <div class="preloader-icon">
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <!-- /End Preloader -->

    <!-- Start Header Area -->
    <header class="header">  <!-- style="background: linear-gradient(45deg, #6831e3, #f528cb); position:static" -->
        <div class="navbar-area" >
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-12">
                        <nav class="navbar navbar-expand-lg">
											<a class="navbar-brand logo" href="index.html">
                                <img class="primary-logo" src="/assets/scrumtuous-logo-575x70.gif" alt="Scrumtuous Logo">
                                <img class="alt-logo" src="/assets/scrumtuous-logo-575x70.gif" alt="Alternate Scrumtuous Logo">
                            </a>
<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="toggler-icon"></span>
                                <span class="toggler-icon"></span>
                                <span class="toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent">

                                <ul id="nav" class="navbar-nav me-auto">
                                    <li class="nav-item">
                                        <a  href="/index.html">Home</a>
                                    </li>
									
									<li class="nav-item">
                                        <a href="/aws/practitioner/practice-exams-mock-tests.html" >Practice Exams</a>
                                    </li>

									<li class="nav-item">
                                        <a href="/aws/practitioner/exam-flashcards.html" >Flashcards</a>
                                    </li>
									

									
									<li class="nav-item">
                                        <a href="/aws/practitioner/exam-drag-drop-tutorials.html" >Tutorials</a>
                                    </li>
									
																		<li class="nav-item">
                                        <a href="/aws/practitioner/exam-study-guide.html" >Study Guide</a>
                                    </li>				

									<li class="nav-item">
                                        <a href="https://www.youtube.com/channel/UCAg98wtgZm1nEVTXGx3XShw" >YouTube</a>
                                    </li>

                                    <li class="nav-item">
                                        <a href="/blog.html" >Blog</a>
                                    </li>
						



									
				

<li class="nav-item dropdown dropstart">

<a href="#" class="nav-link  dropstart"  data-bs-toggle="dropdown" aria-expanded="false">
<i class="bi bi-bell"></i>
<span class=" top-0 start-100 translate-middle badge rounded-pill bg-danger">
    3
    <span class="visually-hidden">unread messages</span>
  </span>
</a>

  <ul style="background-color: #96D2B3; color:silver" class="dropdown-menu dropdown-menu-dark dropstart" aria-labelledby="dropdownMenuButton1">
    <li><a class="dropdown-item" href="#">You earned 250 points!</a></li>
    <li><a class="dropdown-item" href="#">You gained a rank: Cadet</a></li>
    <li><a class="dropdown-item" href="#">You passed another exam. Tweet it!</a></li>
  </ul>


  
							
</li>									
									
									
									
									
									
									
									
									
									
									
									
									
									
									
									
									
									
									
									
									
									
                                </ul>
                            </div>
                        </nav>
                        <!-- navbar -->
                    </div>
                </div>
                <!-- row -->
            </div>
            <!-- container -->
        </div>
        <!-- navbar area -->
    </header>
    <!-- End Header Area -->