<script>

var questions = [

	{id:1, query:"Which of the following describes the most ideal type of activity to automate with UiPath?", "answer":"test-answer.md",
			options:[
			{option:"Multistep process with many decision points with structured data", correct:false, selected:false}, 
			{option:"Perform Analysis on data and provide", correct:true, selected:false},
			{option:"Varied tasks that rely heavily on user input", correct:false, selected:false},
			{option:"Rule-based process with structured data", correct:false, selected:false}
			],
      "objectives":[
         "1.1",
         "2.2"
      ]},
			
	{query:"A client receives a spreadsheet containing orders. The orders must be input into an internal web-based order system.  Which is the best activity to use?", 
			options:[
			{option:"Sequence", correct:true, selected:false}, 
			{option:"Flowchart", correct:false, selected:false},
			{option:"Learning Machine", correct:false, selected:false},
			{option:"Transactional Process", correct:false, selected:false}
			],
      "objectives":[
         "1.1",
         "2.2"
      ]},


	{query:"Which Activity requires the least amount of parameters?", 
			options:[
			{option:"SMTP", correct:false, selected:false}, 
			{option:"Outlook", correct:true, selected:false},
			{option:"POP3", correct:false, selected:false},
			{option:"Mail", correct:false, selected:false}
			],
      "objectives":[
         "1.1",
         "2.2"
      ]},		
			
	{query:"What happens if you try to save a table using Excel Write Range activity to a file that does not exist?", 
			options:[
			{option:"Throws a “File not found” error", correct:false, selected:false}, 
			{option:"Workflow will wait until the file appears and times out if it doesn’t", correct:false, selected:false},
			{option:"Activity will not run and continue the sequence", correct:false, selected:false},
			{option:"Creates the file and saves the table", correct:true, selected:false}
			],
      "objectives":[
         "1.1",
         "2.2"
      ]},
			
	{query:"When using an Excel Application Scope activity, which activity should be used to sort a table directly in an .xlsx file?", 
			options:[
			{option:"Sequence", correct:false, selected:false}, 
			{option:"Flowchart", correct:false, selected:false},
			{option:"Learning Machine", correct:false, selected:false},
			{option:"Transactional Process", correct:true, selected:false}
			],
      "objectives":[
         "1.1",
         "2.2"
      ]},	
			
	];





//alert(questions[1].options[3].option);
//alert(questions[1].options[2].correct);




var answers = new Array(questions.length);
var questionNumber = 0;
//displayQuestion(0);


//alert(person.firstName);
//alert(questions[0].query);



window.addEventListener('load', function () {
  displayQuestion(0);
  
  document.getElementById("question-jumper").innerHTML;
  
  let buttons = "";
  	for (i = 0; i < questions.length; i++) {
		var aTag = document.createElement('a');

		aTag.setAttribute('onClick','displayQuestion(\''+ i + '\')');
		aTag.setAttribute('class','btn btn-info mr-2');
		aTag.setAttribute('id', 'jumpTo'+i);
		aTag.innerHTML = "" + (i+1);
		document.getElementById("question-jumper").append(aTag);
	}
  
  
})

navigateQuestions = function(number){
console.log('navigateQuestions' + number);
	if(number=='next') {
		number = questionNumber + 1;
	}
	if(number=='previous') {
		number = questionNumber - 1;
	}
	displayQuestion(number);
}

displayQuestion = function(number){

	console.log("Number to display is " + number);
	//alert(document.getElementById("option0").checked);

	questions[questionNumber].options[0].checked = document.getElementById("option0").checked;
	questions[questionNumber].options[1].checked = document.getElementById("option1").checked;
	questions[questionNumber].options[2].checked = document.getElementById("option2").checked;
	questions[questionNumber].options[3].checked = document.getElementById("option3").checked;

    questionNumber = number;

	questionNumber = parseInt(number, 10);

	let questionNumberDisplay = parseInt(number, 10) + 1;
	document.getElementById("questionNumber").innerHTML = "Question " + questionNumberDisplay;
	document.getElementById("query").innerHTML = questions[questionNumber].query;
	document.getElementById("labelOption0").innerHTML = questions[questionNumber].options[0].option;
	document.getElementById("labelOption1").innerHTML = questions[questionNumber].options[1].option;
	document.getElementById("labelOption2").innerHTML = questions[questionNumber].options[2].option;
	document.getElementById("labelOption3").innerHTML = questions[questionNumber].options[3].option;
	

	
	document.getElementById("option0").checked = questions[questionNumber].options[0].checked;
	document.getElementById("option1").checked = questions[questionNumber].options[1].checked;
	document.getElementById("option2").checked = questions[questionNumber].options[2].checked;
	document.getElementById("option3").checked = questions[questionNumber].options[3].checked;	
	
	
	//var checkedRadioButtons = document.querySelector('input[name="optionRadios"]:checked');
	//if (checkedRadioButtons!=null) {
	//	checkedRadioButtons.checked = false;
	//}
	
	var radios = document.querySelectorAll('input[type="radio"]:checked');
	var value = radios.length>0? radios[0].value: null;
	
	
	document.getElementById("previous").setAttribute("class", "enabled btn btn-primary");
	document.getElementById("next").setAttribute("class", "enabled btn btn-primary");
	if (questionNumber==0) {
		document.getElementById("previous").setAttribute("class", "disabled btn btn-primary");
	}
	if (questionNumber == (questions.length-1)) {
		document.getElementById("next").setAttribute("class", "disabled btn btn-primary");
	}
	
}

gradeExam = function(){

	//Make sure changes on the question they asked for the grade to be there.
	questions[questionNumber].options[0].checked = document.getElementById("option0").checked;
	questions[questionNumber].options[1].checked = document.getElementById("option1").checked;
	questions[questionNumber].options[2].checked = document.getElementById("option2").checked;
	questions[questionNumber].options[3].checked = document.getElementById("option3").checked;

	let correctCount = 0; 
	for (i = 0; i < questions.length; i++) {
		let correct = true;
		for (j = 0; j < questions[i].options.length; j++) {
			correct = (questions[i].options[j].checked == questions[i].options[j].correct);
			if (correct == false) {
				
				document.getElementById('jumpTo'+i).setAttribute('class', 'btn btn-danger  mr-2');
				break;
			} else {
				document.getElementById('jumpTo'+i).setAttribute('class', 'btn btn-success  mr-2');
			}
		}
		if (correct) {correctCount++}
	}
	//alert(correctCount);
	document.getElementById('score').innerHTML = 'You got '  + correctCount + ' out of ' + questions.length + ' correct.';
	
}


</script>

<br/><br/>


<div class="container">

<div class="card">
  <div class="card-header" id="questionNumber">
    
  </div>
  <div class="card-body">
    <h3 class="card-title" id="query"></h3>
	
	
	
<div class="form-check">
  <input class="form-check-input" type="radio" name="optionRadios" id="option0" value="option0">
  <label class="form-check-label" for="option0" id="labelOption0">
    
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="optionRadios" id="option1" value="option1">
  <label class="form-check-label" for="option1" id="labelOption1">
    
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="optionRadios" id="option2" value="option2">
  <label class="form-check-label" for="option2" id="labelOption2">
    
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="optionRadios" id="option3" value="option3">
  <label class="form-check-label" for="option3" id="labelOption3">
    
  </label>
</div>
<p class="card-text">
<div>
    <a href="#" id="previous" class="btn btn-primary" onclick="navigateQuestions('previous')">&lt;&lt; Previous</a>
	
	<a href="#" id="next" class="btn btn-primary" onclick="navigateQuestions('next')">Next &gt;&gt;</a>
	<a href="#" id="finish" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" onclick="gradeExam()">Finish</a>
	</div>
	
<div>	
</p>


</span>
</div>	
	
	
  </div>
</div>

<div class="card mt-2">
  <div class="card-header" id="questionJumperTitle">
    Question Jumper
  </div>
  <div class="card-body">
    <h3 class="card-title" id="query"></h3>
    <p class="card-text"><small class="text-muted"><span id="question-jumper"></small></p>  
 </div>
</div>
	
	
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Quiz Results</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div id="score" class="modal-body">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
