   <div class=" col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mb-2  d-flex align-items-stretch">
<div class="card">
      <div class="card-header">More Java Mission Control Tutorials<a></a></div>
      <img src="/assets/background-small4.jpg" class="card-img-top" alt="Mission Control Tutorials Image">
      <div class="card-body d-flex flex-column">
        <div class="alert alert-primary text-center" role="alert">More content from TheServerSide</div>
        <p class="card-text">Here are some additional videos and articles of mine (Cameron McKenzie) about Java Mission Control and Java Flight Recorder:</p>
		
		<ul>
		<li><a href="https://youtu.be/AHT4ZvOe6a4">Quick Introduction to Java Mission Control</a></li>
		<li><a href="https://www.theserverside.com/blog/Coffee-Talk-Java-News-Stories-and-Opinions/Java-Mission-Control-8-Eclipse-plugin-Install">Java Mission Control 8 Eclipse plugin Install</a></li>
		<li><a href="https://www.theserverside.com/blog/Coffee-Talk-Java-News-Stories-and-Opinions/Fix-Java-memory-leaks-JVM-heap-dumps-Recorder-Mission-Control">Fix Java memory leaks without costly JVM heap dumps</a></li>
		<li><a href="https://www.theserverside.com/blog/Coffee-Talk-Java-News-Stories-and-Opinions/Performance-cost-of-Java-autoboxing-and-unboxing-of-primitive-types">The performance cost of autoboxing Java primitive types</a></li>
		<li><a href="https://www.theserverside.com/blog/Coffee-Talk-Java-News-Stories-and-Opinions/Start-Java-Flight-Recorder-Eclipse-Profile-Monitor">How to start Java's JVM Flight Recorder 3 easy ways</a></li>
		<li><a href="https://youtu.be/1LUae4wSZyM">Performance Problems with Synchronized Methods</a></li>
		</ul>

        <p class="text-center mt-auto"><a href="https://www.theserverside.com/quiz/Test-your-knowledge-of-variable-naming-conventions">Naming Conventions Quiz</a></p>
      </div>
    </div>
   </div>
