@font-face {
    font-family: "lineicons-free-solid";
    src: url("./lineicons-free-solid.woff2?e24e24455c81e7446cc3ea86d52b67e6") format("woff2"),
url("./lineicons-free-solid.woff?e24e24455c81e7446cc3ea86d52b67e6") format("woff"),
url("./lineicons-free-solid.ttf?e24e24455c81e7446cc3ea86d52b67e6") format("truetype");
}

.lni:before {
    font-family: lineicons-free-solid !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.lni.lnis-aeroplane-1:before {
    content: "\e000";
}
.lni.lnis-agenda:before {
    content: "\e001";
}
.lni.lnis-alarm-1:before {
    content: "\e002";
}
.lni.lnis-align-text-center:before {
    content: "\e003";
}
.lni.lnis-align-text-left:before {
    content: "\e004";
}
.lni.lnis-align-text-right:before {
    content: "\e005";
}
.lni.lnis-ambulance-1:before {
    content: "\e006";
}
.lni.lnis-anchor:before {
    content: "\e007";
}
.lni.lnis-angle-double-down:before {
    content: "\e008";
}
.lni.lnis-angle-double-left:before {
    content: "\e009";
}
.lni.lnis-angle-double-right:before {
    content: "\e00a";
}
.lni.lnis-angle-double-up:before {
    content: "\e00b";
}
.lni.lnis-arrow-all-direction:before {
    content: "\e00c";
}
.lni.lnis-arrow-angular-top-left:before {
    content: "\e00d";
}
.lni.lnis-arrow-angular-top-right:before {
    content: "\e00e";
}
.lni.lnis-arrow-both-direction-horizontal-1:before {
    content: "\e00f";
}
.lni.lnis-arrow-both-direction-vertical-1:before {
    content: "\e010";
}
.lni.lnis-arrow-downward:before {
    content: "\e011";
}
.lni.lnis-arrow-left:before {
    content: "\e012";
}
.lni.lnis-arrow-left-circle:before {
    content: "\e013";
}
.lni.lnis-arrow-right:before {
    content: "\e014";
}
.lni.lnis-arrow-right-circle:before {
    content: "\e015";
}
.lni.lnis-arrow-upward:before {
    content: "\e016";
}
.lni.lnis-badge-decagram-percent:before {
    content: "\e017";
}
.lni.lnis-balloons:before {
    content: "\e018";
}
.lni.lnis-ban-2:before {
    content: "\e019";
}
.lni.lnis-bar-chart-4:before {
    content: "\e01a";
}
.lni.lnis-bar-chart-dollar:before {
    content: "\e01b";
}
.lni.lnis-basket-shopping-3:before {
    content: "\e01c";
}
.lni.lnis-beat:before {
    content: "\e01d";
}
.lni.lnis-bell-1:before {
    content: "\e01e";
}
.lni.lnis-bike:before {
    content: "\e01f";
}
.lni.lnis-bluetooth:before {
    content: "\e020";
}
.lni.lnis-board-writing-3:before {
    content: "\e021";
}
.lni.lnis-bold:before {
    content: "\e022";
}
.lni.lnis-bolt-2:before {
    content: "\e023";
}
.lni.lnis-bolt-3:before {
    content: "\e024";
}
.lni.lnis-book-1:before {
    content: "\e025";
}
.lni.lnis-bookmark-1:before {
    content: "\e026";
}
.lni.lnis-bookmark-circle:before {
    content: "\e027";
}
.lni.lnis-books-2:before {
    content: "\e028";
}
.lni.lnis-box-archive-1:before {
    content: "\e029";
}
.lni.lnis-box-closed:before {
    content: "\e02a";
}
.lni.lnis-box-gift-1:before {
    content: "\e02b";
}
.lni.lnis-bricks:before {
    content: "\e02c";
}
.lni.lnis-bridge-3:before {
    content: "\e02d";
}
.lni.lnis-briefcase-1:before {
    content: "\e02e";
}
.lni.lnis-briefcase-2:before {
    content: "\e02f";
}
.lni.lnis-briefcase-plus-1:before {
    content: "\e030";
}
.lni.lnis-brush-1-rotated:before {
    content: "\e031";
}
.lni.lnis-brush-2:before {
    content: "\e032";
}
.lni.lnis-bug-1:before {
    content: "\e033";
}
.lni.lnis-buildings-1:before {
    content: "\e034";
}
.lni.lnis-bulb-2:before {
    content: "\e035";
}
.lni.lnis-bulb-4:before {
    content: "\e036";
}
.lni.lnis-burger-1:before {
    content: "\e037";
}
.lni.lnis-burger-drink:before {
    content: "\e038";
}
.lni.lnis-bus-1:before {
    content: "\e039";
}
.lni.lnis-busket-ball:before {
    content: "\e03a";
}
.lni.lnis-cake-1:before {
    content: "\e03b";
}
.lni.lnis-calculator-1:before {
    content: "\e03c";
}
.lni.lnis-calculator-2:before {
    content: "\e03d";
}
.lni.lnis-calendar-days:before {
    content: "\e03e";
}
.lni.lnis-camera-1:before {
    content: "\e03f";
}
.lni.lnis-camera-movie-1:before {
    content: "\e040";
}
.lni.lnis-candy-cane-2:before {
    content: "\e041";
}
.lni.lnis-candy-round-1:before {
    content: "\e042";
}
.lni.lnis-capsule-1:before {
    content: "\e043";
}
.lni.lnis-car-2:before {
    content: "\e044";
}
.lni.lnis-car-4:before {
    content: "\e045";
}
.lni.lnis-car-6:before {
    content: "\e046";
}
.lni.lnis-caravan-1:before {
    content: "\e047";
}
.lni.lnis-cart-1:before {
    content: "\e048";
}
.lni.lnis-cart-2:before {
    content: "\e049";
}
.lni.lnis-certificate-badge-1:before {
    content: "\e04a";
}
.lni.lnis-chat-bubble-2:before {
    content: "\e04b";
}
.lni.lnis-check:before {
    content: "\e04c";
}
.lni.lnis-check-circle-1:before {
    content: "\e04d";
}
.lni.lnis-check-square-2:before {
    content: "\e04e";
}
.lni.lnis-chevron-down:before {
    content: "\e04f";
}
.lni.lnis-chevron-down-circle:before {
    content: "\e050";
}
.lni.lnis-chevron-left:before {
    content: "\e051";
}
.lni.lnis-chevron-left-circle:before {
    content: "\e052";
}
.lni.lnis-chevron-up:before {
    content: "\e053";
}
.lni.lnis-chevron-up-circle:before {
    content: "\e054";
}
.lni.lnis-clipboard:before {
    content: "\e055";
}
.lni.lnis-cloud-2:before {
    content: "\e056";
}
.lni.lnis-cloud-bolt-1:before {
    content: "\e057";
}
.lni.lnis-cloud-bolt-2:before {
    content: "\e058";
}
.lni.lnis-cloud-check-circle:before {
    content: "\e059";
}
.lni.lnis-cloud-download:before {
    content: "\e05a";
}
.lni.lnis-cloud-iot-2:before {
    content: "\e05b";
}
.lni.lnis-cloud-rain:before {
    content: "\e05c";
}
.lni.lnis-cloud-refresh-clockwise:before {
    content: "\e05d";
}
.lni.lnis-cloud-sun:before {
    content: "\e05e";
}
.lni.lnis-cloud-upload:before {
    content: "\e05f";
}
.lni.lnis-code-1:before {
    content: "\e060";
}
.lni.lnis-code-s:before {
    content: "\e061";
}
.lni.lnis-coffee-cup-2:before {
    content: "\e062";
}
.lni.lnis-colour-palette-3:before {
    content: "\e063";
}
.lni.lnis-comment-1:before {
    content: "\e064";
}
.lni.lnis-comment-1-share:before {
    content: "\e065";
}
.lni.lnis-comment-1-text:before {
    content: "\e066";
}
.lni.lnis-compass-drafting-2:before {
    content: "\e067";
}
.lni.lnis-crane-4:before {
    content: "\e068";
}
.lni.lnis-credit-card-multiple:before {
    content: "\e069";
}
.lni.lnis-crop-2:before {
    content: "\e06a";
}
.lni.lnis-crown-3:before {
    content: "\e06b";
}
.lni.lnis-dashboard-square-1:before {
    content: "\e06c";
}
.lni.lnis-database-2:before {
    content: "\e06d";
}
.lni.lnis-diamonds-1:before {
    content: "\e06e";
}
.lni.lnis-diamonds-2:before {
    content: "\e06f";
}
.lni.lnis-direction-ltr:before {
    content: "\e070";
}
.lni.lnis-direction-rtl:before {
    content: "\e071";
}
.lni.lnis-dollar:before {
    content: "\e072";
}
.lni.lnis-dollar-circle:before {
    content: "\e073";
}
.lni.lnis-double-quotes-end-1:before {
    content: "\e074";
}
.lni.lnis-download-1:before {
    content: "\e075";
}
.lni.lnis-download-circle-1:before {
    content: "\e076";
}
.lni.lnis-dumbbell-1:before {
    content: "\e077";
}
.lni.lnis-emoji-expressionless:before {
    content: "\e078";
}
.lni.lnis-emoji-expressionless-flat-eyes:before {
    content: "\e079";
}
.lni.lnis-emoji-grin:before {
    content: "\e07a";
}
.lni.lnis-emoji-sad:before {
    content: "\e07b";
}
.lni.lnis-emoji-smile:before {
    content: "\e07c";
}
.lni.lnis-emoji-smile-side:before {
    content: "\e07d";
}
.lni.lnis-emoji-smile-sunglass:before {
    content: "\e07e";
}
.lni.lnis-emoji-smile-tongue:before {
    content: "\e07f";
}
.lni.lnis-enter:before {
    content: "\e080";
}
.lni.lnis-enter-down:before {
    content: "\e081";
}
.lni.lnis-envelope-1:before {
    content: "\e082";
}
.lni.lnis-eraser-1:before {
    content: "\e083";
}
.lni.lnis-euro:before {
    content: "\e084";
}
.lni.lnis-exit:before {
    content: "\e085";
}
.lni.lnis-exit-up:before {
    content: "\e086";
}
.lni.lnis-expand-arrow-1:before {
    content: "\e087";
}
.lni.lnis-expand-square-4:before {
    content: "\e088";
}
.lni.lnis-eye:before {
    content: "\e089";
}
.lni.lnis-file-format-zip:before {
    content: "\e08a";
}
.lni.lnis-file-multiple:before {
    content: "\e08b";
}
.lni.lnis-file-pencil:before {
    content: "\e08c";
}
.lni.lnis-file-plus-circle:before {
    content: "\e08d";
}
.lni.lnis-file-question:before {
    content: "\e08e";
}
.lni.lnis-file-xmark:before {
    content: "\e08f";
}
.lni.lnis-firework-rocket-4:before {
    content: "\e090";
}
.lni.lnis-flag-1:before {
    content: "\e091";
}
.lni.lnis-flag-2:before {
    content: "\e092";
}
.lni.lnis-floppy-disk-1:before {
    content: "\e093";
}
.lni.lnis-flower-2:before {
    content: "\e094";
}
.lni.lnis-folder-1:before {
    content: "\e095";
}
.lni.lnis-funnel-1:before {
    content: "\e096";
}
.lni.lnis-gallery:before {
    content: "\e097";
}
.lni.lnis-game-pad-modern-1:before {
    content: "\e098";
}
.lni.lnis-gauge-1:before {
    content: "\e099";
}
.lni.lnis-gear-1:before {
    content: "\e09a";
}
.lni.lnis-gears-3:before {
    content: "\e09b";
}
.lni.lnis-glass-juice-1:before {
    content: "\e09c";
}
.lni.lnis-globe-1:before {
    content: "\e09d";
}
.lni.lnis-globe-stand:before {
    content: "\e09e";
}
.lni.lnis-graduation-cap-1:before {
    content: "\e09f";
}
.lni.lnis-hammer-1:before {
    content: "\e0a0";
}
.lni.lnis-hammer-2:before {
    content: "\e0a1";
}
.lni.lnis-hand-mic:before {
    content: "\e0a2";
}
.lni.lnis-hand-shake:before {
    content: "\e0a3";
}
.lni.lnis-hand-stop:before {
    content: "\e0a4";
}
.lni.lnis-hand-taking-dollar:before {
    content: "\e0a5";
}
.lni.lnis-hand-taking-leaf-1:before {
    content: "\e0a6";
}
.lni.lnis-hand-taking-user:before {
    content: "\e0a7";
}
.lni.lnis-hat-chef-3:before {
    content: "\e0a8";
}
.lni.lnis-headphone-1:before {
    content: "\e0a9";
}
.lni.lnis-heart:before {
    content: "\e0aa";
}
.lni.lnis-helicopter-2:before {
    content: "\e0ab";
}
.lni.lnis-helmet-safety-1:before {
    content: "\e0ac";
}
.lni.lnis-hierarchy-1:before {
    content: "\e0ad";
}
.lni.lnis-highlighter-1:before {
    content: "\e0ae";
}
.lni.lnis-highlighter-2:before {
    content: "\e0af";
}
.lni.lnis-home-2:before {
    content: "\e0b0";
}
.lni.lnis-hospital-2:before {
    content: "\e0b1";
}
.lni.lnis-hourglass:before {
    content: "\e0b2";
}
.lni.lnis-indent:before {
    content: "\e0b3";
}
.lni.lnis-injection-1:before {
    content: "\e0b4";
}
.lni.lnis-island-2:before {
    content: "\e0b5";
}
.lni.lnis-key-1:before {
    content: "\e0b6";
}
.lni.lnis-keyboard:before {
    content: "\e0b7";
}
.lni.lnis-knife-fork-1:before {
    content: "\e0b8";
}
.lni.lnis-label-dollar-2:before {
    content: "\e0b9";
}
.lni.lnis-laptop-2:before {
    content: "\e0ba";
}
.lni.lnis-laptop-phone:before {
    content: "\e0bb";
}
.lni.lnis-layers-1:before {
    content: "\e0bc";
}
.lni.lnis-layout-26:before {
    content: "\e0bd";
}
.lni.lnis-layout-9:before {
    content: "\e0be";
}
.lni.lnis-leaf-1:before {
    content: "\e0bf";
}
.lni.lnis-leaf-6:before {
    content: "\e0c0";
}
.lni.lnis-life-guard-tube-1:before {
    content: "\e0c1";
}
.lni.lnis-line-dashed:before {
    content: "\e0c2";
}
.lni.lnis-line-dotted:before {
    content: "\e0c3";
}
.lni.lnis-line-height:before {
    content: "\e0c4";
}
.lni.lnis-link-2-angular-right:before {
    content: "\e0c5";
}
.lni.lnis-location-arrow-right:before {
    content: "\e0c6";
}
.lni.lnis-locked-1:before {
    content: "\e0c7";
}
.lni.lnis-locked-2:before {
    content: "\e0c8";
}
.lni.lnis-magnet:before {
    content: "\e0c9";
}
.lni.lnis-map-marker-1:before {
    content: "\e0ca";
}
.lni.lnis-map-marker-5:before {
    content: "\e0cb";
}
.lni.lnis-map-pin-5:before {
    content: "\e0cc";
}
.lni.lnis-megaphone-1:before {
    content: "\e0cd";
}
.lni.lnis-menu-cheesburger:before {
    content: "\e0ce";
}
.lni.lnis-menu-hamburger-1:before {
    content: "\e0cf";
}
.lni.lnis-menu-meatballs-1:before {
    content: "\e0d0";
}
.lni.lnis-menu-meatballs-2:before {
    content: "\e0d1";
}
.lni.lnis-message-2:before {
    content: "\e0d2";
}
.lni.lnis-message-2-question:before {
    content: "\e0d3";
}
.lni.lnis-message-3-text:before {
    content: "\e0d4";
}
.lni.lnis-microphone-1:before {
    content: "\e0d5";
}
.lni.lnis-microscope:before {
    content: "\e0d6";
}
.lni.lnis-minus:before {
    content: "\e0d7";
}
.lni.lnis-minus-circle:before {
    content: "\e0d8";
}
.lni.lnis-monitor:before {
    content: "\e0d9";
}
.lni.lnis-monitor-code:before {
    content: "\e0da";
}
.lni.lnis-monitor-mac:before {
    content: "\e0db";
}
.lni.lnis-moon-half-right-5:before {
    content: "\e0dc";
}
.lni.lnis-mountains-2:before {
    content: "\e0dd";
}
.lni.lnis-mouse-2:before {
    content: "\e0de";
}
.lni.lnis-mushroom-1:before {
    content: "\e0df";
}
.lni.lnis-mushroom-5:before {
    content: "\e0e0";
}
.lni.lnis-music:before {
    content: "\e0e1";
}
.lni.lnis-next-step-2:before {
    content: "\e0e2";
}
.lni.lnis-notebook-1:before {
    content: "\e0e3";
}
.lni.lnis-outdent:before {
    content: "\e0e4";
}
.lni.lnis-page-break-1:before {
    content: "\e0e5";
}
.lni.lnis-pagination:before {
    content: "\e0e6";
}
.lni.lnis-paint-bucket:before {
    content: "\e0e7";
}
.lni.lnis-paint-roller-1:before {
    content: "\e0e8";
}
.lni.lnis-paperclip-1:before {
    content: "\e0e9";
}
.lni.lnis-party-flags:before {
    content: "\e0ea";
}
.lni.lnis-party-spray:before {
    content: "\e0eb";
}
.lni.lnis-pause:before {
    content: "\e0ec";
}
.lni.lnis-pen-to-square:before {
    content: "\e0ed";
}
.lni.lnis-pencil-1:before {
    content: "\e0ee";
}
.lni.lnis-phone:before {
    content: "\e0ef";
}
.lni.lnis-photos:before {
    content: "\e0f0";
}
.lni.lnis-pie-chart-2:before {
    content: "\e0f1";
}
.lni.lnis-pilcrow:before {
    content: "\e0f2";
}
.lni.lnis-pizza-2:before {
    content: "\e0f3";
}
.lni.lnis-placeholder-dollar:before {
    content: "\e0f4";
}
.lni.lnis-play:before {
    content: "\e0f5";
}
.lni.lnis-plug-1:before {
    content: "\e0f6";
}
.lni.lnis-plus:before {
    content: "\e0f7";
}
.lni.lnis-pound:before {
    content: "\e0f8";
}
.lni.lnis-power-button:before {
    content: "\e0f9";
}
.lni.lnis-previous-step-2:before {
    content: "\e0fa";
}
.lni.lnis-printer:before {
    content: "\e0fb";
}
.lni.lnis-question-mark:before {
    content: "\e0fc";
}
.lni.lnis-question-mark-circle:before {
    content: "\e0fd";
}
.lni.lnis-refresh-circle-1-clockwise:before {
    content: "\e0fe";
}
.lni.lnis-refresh-dollar-1:before {
    content: "\e0ff";
}
.lni.lnis-refresh-user-1:before {
    content: "\e100";
}
.lni.lnis-road-1:before {
    content: "\e101";
}
.lni.lnis-rocket-5:before {
    content: "\e102";
}
.lni.lnis-route-1:before {
    content: "\e103";
}
.lni.lnis-rss-right:before {
    content: "\e104";
}
.lni.lnis-ruler-1:before {
    content: "\e105";
}
.lni.lnis-ruler-pen:before {
    content: "\e106";
}
.lni.lnis-rupee:before {
    content: "\e107";
}
.lni.lnis-school-bench-1:before {
    content: "\e108";
}
.lni.lnis-school-bench-2:before {
    content: "\e109";
}
.lni.lnis-scissors-1-vertical:before {
    content: "\e10a";
}
.lni.lnis-scoter:before {
    content: "\e10b";
}
.lni.lnis-scroll-down-2:before {
    content: "\e10c";
}
.lni.lnis-search-1:before {
    content: "\e10d";
}
.lni.lnis-search-2:before {
    content: "\e10e";
}
.lni.lnis-search-minus:before {
    content: "\e10f";
}
.lni.lnis-search-plus:before {
    content: "\e110";
}
.lni.lnis-search-text:before {
    content: "\e111";
}
.lni.lnis-select-cursor-1:before {
    content: "\e112";
}
.lni.lnis-seo-monitor:before {
    content: "\e113";
}
.lni.lnis-service-bell-1:before {
    content: "\e114";
}
.lni.lnis-share-1:before {
    content: "\e115";
}
.lni.lnis-share-1-circle:before {
    content: "\e116";
}
.lni.lnis-share-2:before {
    content: "\e117";
}
.lni.lnis-shield-2:before {
    content: "\e118";
}
.lni.lnis-shield-2-check:before {
    content: "\e119";
}
.lni.lnis-shield-dollar:before {
    content: "\e11a";
}
.lni.lnis-shift-left:before {
    content: "\e11b";
}
.lni.lnis-shift-right:before {
    content: "\e11c";
}
.lni.lnis-ship-1:before {
    content: "\e11d";
}
.lni.lnis-shirt-1:before {
    content: "\e11e";
}
.lni.lnis-shovel:before {
    content: "\e11f";
}
.lni.lnis-shuffle:before {
    content: "\e120";
}
.lni.lnis-sign-post-left:before {
    content: "\e121";
}
.lni.lnis-signs-post-2:before {
    content: "\e122";
}
.lni.lnis-slice-2:before {
    content: "\e123";
}
.lni.lnis-sliders-horizontal-square-2:before {
    content: "\e124";
}
.lni.lnis-sort-alphabetical:before {
    content: "\e125";
}
.lni.lnis-sort-high-to-low:before {
    content: "\e126";
}
.lni.lnis-spellcheck:before {
    content: "\e127";
}
.lni.lnis-spinner-2-sacle:before {
    content: "\e128";
}
.lni.lnis-spinner-3:before {
    content: "\e129";
}
.lni.lnis-sports:before {
    content: "\e12a";
}
.lni.lnis-stamp:before {
    content: "\e12b";
}
.lni.lnis-star-fat:before {
    content: "\e12c";
}
.lni.lnis-star-fat-half-2:before {
    content: "\e12d";
}
.lni.lnis-star-sharp-disabled:before {
    content: "\e12e";
}
.lni.lnis-stethoscope-1:before {
    content: "\e12f";
}
.lni.lnis-stopwatch:before {
    content: "\e130";
}
.lni.lnis-storage-hdd-2:before {
    content: "\e131";
}
.lni.lnis-strikethrough-1:before {
    content: "\e132";
}
.lni.lnis-sun-1:before {
    content: "\e133";
}
.lni.lnis-surfboard-2:before {
    content: "\e134";
}
.lni.lnis-tab:before {
    content: "\e135";
}
.lni.lnis-target-user:before {
    content: "\e136";
}
.lni.lnis-telephone-1:before {
    content: "\e137";
}
.lni.lnis-telephone-3:before {
    content: "\e138";
}
.lni.lnis-text-format:before {
    content: "\e139";
}
.lni.lnis-text-format-remove:before {
    content: "\e13a";
}
.lni.lnis-text-paragraph:before {
    content: "\e13b";
}
.lni.lnis-thumbs-down-3:before {
    content: "\e13c";
}
.lni.lnis-thumbs-up-3:before {
    content: "\e13d";
}
.lni.lnis-ticket-1:before {
    content: "\e13e";
}
.lni.lnis-tickets-3:before {
    content: "\e13f";
}
.lni.lnis-tower-broadcast-1:before {
    content: "\e140";
}
.lni.lnis-train-1:before {
    content: "\e141";
}
.lni.lnis-train-3:before {
    content: "\e142";
}
.lni.lnis-trash-3:before {
    content: "\e143";
}
.lni.lnis-tree-2:before {
    content: "\e144";
}
.lni.lnis-trees-3:before {
    content: "\e145";
}
.lni.lnis-trend-down-1:before {
    content: "\e146";
}
.lni.lnis-trend-up-1:before {
    content: "\e147";
}
.lni.lnis-trophy-1:before {
    content: "\e148";
}
.lni.lnis-trowel-1:before {
    content: "\e149";
}
.lni.lnis-truck-delivery-1:before {
    content: "\e14a";
}
.lni.lnis-underline:before {
    content: "\e14b";
}
.lni.lnis-unlink-2-angular-eft:before {
    content: "\e14c";
}
.lni.lnis-unlocked-2:before {
    content: "\e14d";
}
.lni.lnis-upload-1:before {
    content: "\e14e";
}
.lni.lnis-upload-circle-1:before {
    content: "\e14f";
}
.lni.lnis-user-4:before {
    content: "\e150";
}
.lni.lnis-user-multiple-4:before {
    content: "\e151";
}
.lni.lnis-vector-nodes-6:before {
    content: "\e152";
}
.lni.lnis-vector-nodes-7:before {
    content: "\e153";
}
.lni.lnis-volume-1:before {
    content: "\e154";
}
.lni.lnis-volume-high:before {
    content: "\e155";
}
.lni.lnis-volume-low:before {
    content: "\e156";
}
.lni.lnis-volume-mute:before {
    content: "\e157";
}
.lni.lnis-volume-off:before {
    content: "\e158";
}
.lni.lnis-wallet-1:before {
    content: "\e159";
}
.lni.lnis-watch-beat-1:before {
    content: "\e15a";
}
.lni.lnis-water-drop-1:before {
    content: "\e15b";
}
.lni.lnis-weight-machine-1:before {
    content: "\e15c";
}
.lni.lnis-wheelbarrow-empty:before {
    content: "\e15d";
}
.lni.lnis-wheelchair-1:before {
    content: "\e15e";
}
.lni.lnis-www:before {
    content: "\e15f";
}
.lni.lnis-www-cursor:before {
    content: "\e160";
}
.lni.lnis-xmark:before {
    content: "\e161";
}
.lni.lnis-xmark-circle:before {
    content: "\e162";
}
.lni.lnis-yen:before {
    content: "\e163";
}
.lni.lnis-zero-size:before {
    content: "\e164";
}
