<div class="row">
   <div class="main col col-12 col-sm-12 col-md-12 col-lg-6 mt-2">
      <div class="alert alert-secondary text-center btn-close btn-sm" role="alert">
         Most of what I write is on <a href="https://www.theserverside.com">TheServerSide</a>.
         <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
      </div>
   </div>
   <div class="main d-none d-lg-block col-lg-6 mt-2  ">
      <div class="alert alert-secondary text-center btn-close btn-sm" role="alert">
         This site uses Cookies. I hope that's okay.
         <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
      </div>
   </div>
</div>
