<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-XXYDW9WM9W"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-XXYDW9WM9W');
</script>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<meta name="robots" content="index, follow" />
<meta name="keywords" content="Cameron McKenzie, Java, Kubernetes Certification, JakartaEE, Docker, Kubernetes Exam Questions, TheServerSide, UiPath, Questions and Answers"/>

	{% if page.canonical %}
	<link rel="canonical" href="{{ page.canonical }}" />
	{% else %}
	<!-- This is the else for if canonical -->	   
	{% endif %}

	{% if page.blurb %}
	<meta name="description" content="{{ page.blurb }}"/>   
	{% else %}
	<meta name="description" content="I'm Cameron McKenzie and I want you to learn Spring and JakartaEE and help get you UiPath, Java and Kubernetes Certified"/>   
	{% endif %}
	   
	<title>{{ page.title }}</title>  

	{% include boostrap-css.html %}
	{% include style-common.html %}  
	  
	  <meta charset="utf-8">
      <style>
         .blueheader {
         background: #7ADEFF;
         }
         .greenfooter {
         background: #34641A;
         }
         .main {
         text-align: left;
         background: whitesmoke;
         }
         .aside-nav {
         background: #FFCB05;
         }
         .aside-promos {
         background: #dddddd;
         }
         .orange-divider {
         height:.75rem;
         background: #FF583B;
         }
         body {
         padding: 1em; 

         }
         .card-header{
         background-color: #FFCB05;
         }
      </style>
