            <div class="mt-2"><a href="https://pickeringisspringfield.com/whereisspringfield6c83.html?answer=therealspringfield"> <img alt="link image"   class="img-fluid mx-auto d-block"   height="40" width="170"
               src="/assets/home.gif" id=limage0
               onmouseover="document.limage0.src = '/assets/homeO.gif';"
               onmousedown="document.limage0.src = '/assets/homeD.gif';"
               onmouseout="document.limage0.src = '/assets/home.gif';"> </a></div>
            <div class="mt-2"><a href="https://pickeringisspringfield.com/whereisspringfieldd5e6.html?answer=ontariosimilarities00"> <img alt="link image"   class="img-fluid mx-auto d-block"   height="40"
               width="170" src="/assets/similarities.gif" id=limage2
               onmouseover="document.limage2.src = '/assets/similaritiesO.gif';"
               onmousedown="document.limage2.src = '/assets/similaritiesD.gif';"
               onmouseout="document.limage2.src = '/assets/similarities.gif';"> </a></div>
            <div class="mt-2"><a href="https://pickeringisspringfield.com/whereisspringfieldd9e6.html?answer=canadians00"> <img alt="link image"   class="img-fluid mx-auto d-block"   height="40" width="170"
               src="/assets/cancon.gif" id=limage3
               onmouseover="document.limage3.src = '/assets/canconO.gif';"
               onmousedown="document.limage3.src = '/assets/canconD.gif';"
               onmouseout="document.limage3.src = '/assets/cancon.gif';"> </a></div>
            <div class="mt-2"><a href="https://pickeringisspringfield.com/whereisspringfieldc65e.html?answer=quotes00"> <img alt="link image"   class="img-fluid mx-auto d-block"   src="/assets/quotes.gif"
               height="40" width="170" id=limage7
               onmouseover="document.limage7.src = '/assets/quotesO.gif';"
               onmousedown="document.limage7.src = '/assets/quotesD.gif';"
               onmouseout="document.limage7.src = '/assets/quotes.gif';"> </a></div>
            <div class="mt-2"><a href="https://pickeringisspringfield.com/whereisspringfield3bf5.html?answer=simpsonsquiz"> <img alt="link image"   class="img-fluid mx-auto d-block"   height="40" width="170"
               src="/assets/quiz.gif" id=limage4
               onmouseover="document.limage4.src = '/assets/quizO.gif';"
               onmousedown="document.limage4.src = '/assets/quizD.gif';"
               onmouseout="document.limage4.src = '/assets/quiz.gif';"> </a></div>
            <div class="mt-2"><a href="https://pickeringisspringfield.com/whereisspringfield36bd.html?answer=buynow"> <img alt="link image"   class="img-fluid mx-auto d-block"   height="40" width="170"
               src="/assets/buynow.gif" id=limage6
               onmouseover="document.limage6.src = '/assets/buynowO.gif';"
               onmousedown="document.limage6.src = '/assets/buynowD.gif';"
               onmouseout="document.limage6.src = '/assets/buynow.gif';"> </a></div>
            <div class="mt-2"><a href="https://pickeringisspringfield.com/whereisspringfieldfb29.html?answer=learnjava"> <img alt="link image"   class="img-fluid mx-auto d-block"   height="40" width="170"
               src="/assets/learn.gif" id=limage8
               onmouseover="document.limage8.src = '/assets/learnO.gif';"
               onmousedown="document.limage8.src = '/assets/learnD.gif';"
               onmouseout="document.limage8.src = '/assets/learn.gif';"> </a></div>
            <div class="mt-2">
               <a href="https://pickeringisspringfield.com/whereisspringfield1d1b.html?answer=media"><img alt="link image"   class="img-fluid mx-auto d-block"   height="40" width="170"
                  src="/assets/tvradio.gif" id=limage9
                  onmouseover="document.limage9.src = '/assets/tvradioO.gif';"
                  onmousedown="document.limage9.src = '/assets/tvradioD.gif';"
                  onmouseout="document.limage9.src = '/assets/tvradio.gif';"></a>
            </div>
            <div class="mt-2">
               <a href="https://pickeringisspringfield.com/whereisspringfieldaeae.html?answer=bombs"><img alt="link image"   class="img-fluid mx-auto d-block"   height="40" width="170"
                  src="/assets/bombs.gif" id=limage10
                  onmouseover="document.limage10.src = '/assets/bombsO.gif';"
                  onmousedown="document.limage10.src = '/assets/bombsD.gif';"
                  onmouseout="document.limage10.src = '/assets/bombs.gif';"></a>
            </div>
			
			<div class="mt-2">

<img    src="/assets/anime/nervousbook.gif"   id="submit" alt="Pickering is Springfield book" class="img-fluid mx-auto d-block">

            </div> 
			