         <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #ffc107;">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
               <ul class="navbar-nav ml-auto">
			   
			   	  <li class="nav-item active">
                     <a class="nav-link" href="/allposts.html">
                     All Posts</a>
                  </li>
			   
			   <li class="nav-item active">
                     <a class="nav-link" href="https://www.twitter.com/cameronmcnz">
                     Twitter</a>
                  </li>
			   
			   	<li class="nav-item active">
                     <a class="nav-link" href="https://www.youtube.com/channel/UCAc45SVFATruhRe_kb1iGkA">
                     YouTube</a>
                  </li>

				  <li class="nav-item active">
                     <a class="nav-link" href="https://www.theserverside.com">
                     TSS</a>
                  </li>
				  <li class="nav-item active">
                     <a class="nav-link" href="https://www.mcnz.com">
                     Home</a>
                  </li>
               </ul>
            </div>
         </nav>
