<style>
blockquote {
	background: #f9f9f9;
	border-left: 10px solid #ccc;
	margin: 1.5em 10px;
	padding: 0.5em 10px;
}

blockquote:before {
	color: #ccc;
	font-size: 4em;
	line-height: 0.1em;
	margin-right: 0.25em;
	vertical-align: -0.4em;
}

blockquote p {
	display: inline;
}

html {
	font-size: 12pt;
}

h1 {
	font-size: 1.2em;
	font-weight: 500; 
  	line-height: 1.75; 
}

h2 {
	font-size: 1.2em;
	font-weight: 500; 
  	line-height: 1.5; 
}

h3 {
	font-size: 1.07em;
	font-weight: 500; 
  	line-height: 1.3; 
}

h4 {
	font-size: 1.05em;
	font-weight: 500; 
  	line-height: 1.25; 
}

h5 {
	font-size: .83em;
	font-weight: 500; 
  	line-height: 1.2; 
}

h6 {
	font-size: .75em;
	font-weight: 500; 
  	line-height: 1.2; 
}

a,
u {
	text-decoration: none;
	color: #0d47a1
}

a:hover {
	background-color: #f9fbfd;
	color: #4285F4;
}

.header,
.footer {
	background: white;
	text-align: center;
}

.main {
	background: white;
	text-align: left;
}

.aside-1 {
	background: white;
}

.aside-2 {
	background: white;
}

</style>
