<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
	
	
	{% include head-common.html %} 
	
	
	
	
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>{{ page.title }}</title>

	<!-- React Code -->	
	
<link href="/flashcards/static/css/main.86d29117.css" rel="stylesheet">
<link rel="apple-touch-icon" href="/flashcards/logo192.png" />
<link rel="manifest" href="/exam/manifest.json" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" type="image/x-icon" href="/assets/favicon.ico" />
    <!-- Place favicon.ico in the root directory -->

    <!-- Web Font -->
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">

    <!-- ========================= CSS here ========================= -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/assets/css/LineIcons.2.0.css" />
    <link rel="stylesheet" href="/assets/css/animate.css" />
    <link rel="stylesheet" href="/assets/css/tiny-slider.css" />
    <link rel="stylesheet" href="/assets/css/glightbox.min.css" />
    <link rel="stylesheet" href="/assets/css/main.css" />
	
	{% if page.canonical %}
	<link rel="canonical" href="{{ page.canonical }}" />
	{% else %}
	<!-- This is the else for if canonical -->	   
	{% endif %}
	
	<!-- canonical attempt: {{ page.title }} -->
	{% if page.blurb %}
	<meta name="description" content="{{ page.blurb }}"/>   
	{% else %}
	<meta name="description" content="Quickly learn to code for certification exams with these fun drag and drop examples."/>   
	{% endif %}

	{% if page.keywords %}
	<link rel="keywords" href="{{ page.keywords }}" />
	{% else %}
	<meta name="keywords" content="AWS Certification Exam DevOps Scrum Agile Java DevSecOps Git Jenkins GitHub Scrumtuous Darcy DeClute"/>	   
	{% endif %}
	
			   <style>
         html { font-size: 12pt; }	
         h1 { font-size: 1.50em; }
         h2 { font-size: 1.25em; }
         h3 { font-size: 1.1em; }
         h4 { font-size: 1.05em; }
         h5 { font-size: .83em; }
         h6 { font-size: .75em; }
         a, u {text-decoration: none; color:#0d47a1}  
         a:hover {
         background-color: #f9fbfd; color #4285F4;
         }
         .header, .footer {
         background: white;
         text-align: center;
         }
         .main {
         background: white;
         text-align: left;
         }
         .aside-1 {
         background: white;
         }
         .aside-2 {
         background: white;
         }
      </style>

</head>

<body>
{% include navigation.html %} 




   <!-- Start Achivement Area -->
    <section class="our-achievement  section" >
        <div class="container" >
		
		
		
			<div class="row" style="margin:0; padding:0">
				
				
<div class="section-title  align-center gray-bg mt-5 mb-0 padding:0">
                        <span class="wow fadeInDown" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInDown;"><h1 style="color:white">
						Drag and Drop AWS Tutorials</h1></span>
						<p style="color:white">
						Combine our collection of drag-and-drop tutorials for AWS with our free practice exams, AWS Flashcards and video tutorials, and you will be well on your way to passing the exam andy  getting your AWS Practitioner Certification.
						</p>

                    </div>

                     {% include drag-and-drop-timeline.html %} 


				
				
				
				
				</div>
		
		
		
		

        </div>
    </section>
    <!-- End Achivement Area -->











	
	
{% include four-image-cards.html %}

	
	
	
	
	
	
	

    <!-- Start Achivement Area -->
    <section class="our-achievement  section">
        <div class="container">
                        <div class="row">
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="single-achievement wow fadeInUp" data-wow-delay=".2s">
                        <i class="lni lni-user"></i>
                        <h3 class="counter"><span id="secondo1" class="countup" cup-end="500">500</span>+</h3>
                        <p>Exam Questions</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="single-achievement wow fadeInUp" data-wow-delay=".4s">
                        <i class="lni lni-users"></i>
                        <h3 class="counter"><span id="secondo2" class="countup" cup-end="100">300</span>+</h3>
                        <p>Flashcards</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="single-achievement wow fadeInUp" data-wow-delay=".6s">
                        <i class="lni lni-code"></i>
                        <h3 class="counter"><span id="secondo3" class="countup" cup-end="855">30</span>+</h3>
                        <p>Drag-n-Drop Exercises</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="single-achievement wow fadeInUp" data-wow-delay=".6s">
                        <i class="lni lni-coffee-cup"></i>
                        <h3 class="counter"><span id="secondo3" class="countup" cup-end="100">100</span>+</h3>
                        <p>Training Videos</p>
                    </div>
                </div>
				

				
				
            </div>
				
				
            </div>
        </div>
    </section>
    <!-- End Achivement Area -->


	
	
	{% include footer.html %} 

    <!-- ========================= scroll-top ========================= -->
    <a href="#" class="scroll-top  btn-hover">
        <i class="lni lni-chevron-up"></i>
    </a>

    <!-- ========================= JS here ========================= -->
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/count-up.min.js"></script>
    <script src="/assets/js/wow.min.js"></script>
    <script src="/assets/js/tiny-slider.js"></script>
    <script src="/assets/js/glightbox.min.js"></script>
    <script src="/assets/js/imagesloaded.min.js"></script>
    <script src="/assets/js/isotope.min.js"></script>
    <script src="/assets/js/main.js"></script>
    <script type="text/javascript">
        //========= glightbox
        GLightbox({
            'href': 'https://www.youtube.com/watch?v=r44RKWyfcFw&fbclid=IwAR21beSJORalzmzokxDRcGfkZA1AtRTE__l5N4r09HcGS5Y6vOluyouM9EM',
            'type': 'video',
            'source': 'youtube', //vimeo, youtube or local
            'width': 900,
            'autoplayVideos': true,
        });

        //======== Hero Slider
        var slider = new tns({
            container: '.hero-slider',
            slideBy: 'page',
            autoplay: true,
            autoplayButtonOutput: false,
            mouseDrag: true,
            gutter: 0,
            items: 1,
            nav: false,
            controls: true,
            controlsText: [
                '<i class="lni lni-chevron-left"></i>',
                '<i class="lni lni-chevron-right"></i>'
            ],
            responsive: {
                1200: {
                    items: 1,
                },
                992: {
                    items: 1,
                },
                0: {
                    items: 1,
                }

            }
        });
        //======== Testimonial Slider
        var slider = new tns({
            container: '.testimonial-slider',
            slideBy: 'page',
            autoplay: false,
            mouseDrag: true,
            gutter: 0,
            items: 1,
            nav: true,
            controls: false,
            controlsText: [
                '<i class="lni lni-arrow-left prev"></i>',
                '<i class="lni lni-arrow-right next"></i>'
            ],
            responsive: {
                1200: {
                    items: 1,
                },
                992: {
                    items: 1,
                },
                0: {
                    items: 1,
                }

            }
        });

        //============== isotope masonry js with imagesloaded
        imagesLoaded('#container', function () {
            var elem = document.querySelector('.grid');
            var iso = new Isotope(elem, {
                // options
                itemSelector: '.grid-item',
                masonry: {
                    // use outer width of grid-sizer for columnWidth
                    columnWidth: '.grid-item'
                }
            });

            let filterButtons = document.querySelectorAll('.portfolio-btn-wrapper button');
            filterButtons.forEach(e =>
                e.addEventListener('click', () => {

                    let filterValue = event.target.getAttribute('data-filter');
                    iso.arrange({
                        filter: filterValue
                    });
                })
            );
        });
    </script>

<script defer="defer" src="/flashcards/static/js/main.9f45f52c.js"></script>


</body>

</html>
