<!DOCTYPE html>
<html lang="en">
   <head>
	 {% include mcnz/head-common.html %}  

	<meta name="description" content="All posts on the Java Mission Control Tutorial and JDK Flight Recorder Course"/>	   
	   
	<title>All of Cameron McKenzie's posts</title>
	   
	   
   </head> 
	
   <body>
      <div class="container">
         <div class="row">
            {% include mcnz/navigation.html %}  
         </div>
	  

      <div class="row">
         <header class="header">
            {% include mcnz/header-banner.html %}  
         </header>
      </div>
      <div class="row" >
         <div class="orange-divider" >
            <!-- <center>
            </center> -->
         </div>
      </div>
{% include mcnz/common-cookie-row.html %}   
	  
         <div class="row">
		 
		 		 
<div  class="aside-2 col col-12  col-sm-12  col-md-4 col-lg-3 order-2 order-sm-2 order-lg-2 mb-3 d-flex align-items-stretch">
  <div class="card mb-2">
    <div class="card-header">
      <h1>All Posts</h1>
    </div>
    <div class="card-body  d-flex flex-column">
      <p class="card-text">Here's all of the posts I've made on the site.</p>
      <p class="card-text">Enjoy. And have fun learning how to work with Java, Kubernetes, UiPath and other server-side stuff!</p>
    </div>
  </div>
</div> 
		 
{% for post in site.posts offset:0 %}
<div  class="aside-2 col col-12  col-sm-12  col-md-4 col-lg-3 order-2 order-sm-2 order-lg-2 mb-3 d-flex align-items-stretch">
  <div class="card mb-2">
    <div class="card-header">
      <a href="{{ post.url }}">{{ post.title }}</a>
    </div>
	<picture>
            <img src="/assets/java-flight-recorder-example.jpg" class="img-fluid" alt="JDK JVM Flight Recorder Example">
         </picture>
    <div class="card-body  d-flex flex-column">
      <p class="card-text">{{ post.blurb }}</p>
      <p class="text-center mt-auto"><a href="{{ post.url }}" class="btn btn-primary btn-sm mt-auto">Check it out</a></p>
    </div>
  </div>
</div>
{% endfor %}

<aside  class="aside-2 col col-12  col-sm-12  col-md-4 col-lg-3 order-2 order-sm-2 order-lg-2 mb-3">
</aside>
		 
</div>
      <div class="row">
      <div class="orange-divider" ></div>
      </div>
      <div class="row">
      <footer class="footer">
	  &nbsp;
	  <!-- 
	  <center>
	  <iframe src="//rcm-na.amazon-adsystem.com/e/cm?o=1&p=13&l=ez&f=ifr&linkID=de7d555c13a2e4ff6c644e5f5e6cd3d7&t=pulpjavawebsp-20&tracking_id=pulpjavawebsp-20" width="468" height="60" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>
</center>
	  -->
	  
	 
</footer>
      </div>	      
	      
      </div>
{% include bootstrap-min.html %} 
</body>
</html>
