<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-179472407-1"></script>
      <script>
         window.dataLayer = window.dataLayer || [];
         function gtag(){dataLayer.push(arguments);}
         gtag('js', new Date());
         
         gtag('config', 'UA-179472407-1');
      </script>
      <title>{{ page.title }}</title>
<!-- canonical attempt: {{ page.title }} -->
<!-- canonical attempt: {{ page.canonical }} -->	   
{% if page.canonical %}
<link rel="canonical" href="{{ page.canonical }}" />
{% else %}
<!-- This is the else for if canonical -->	   
{% endif %}
	   
<!-- canonical attempt: {{ page.title }} -->
{% if page.blurb %}
<meta name="description" content="{{ page.blurb }}"/>   
{% else %}
<meta name="description" content="UiPath Associate Certification practice questions and answers, study guides, braindumps, mock exams, Orhcestrator overview, test objectives and online UiPath tutorials. We help you get RPA certified fast."/>   
{% endif %}
	   
{% if page.keywords %}
<link rel="keywords" href="{{ page.keywords }}" />
{% else %}
<meta name="keywords" content="RPA Certified, UiPath Certification, UiPath Associate Exam, UiPath Developer Exam, UiPath Certification Questions, UiPath Certification Questions and Answers, UiPath Braindump"/>	   
{% endif %}
	   
	   
<meta property="fb:app_id" content="287616246137792" />   
<meta name="robots" content="index, follow" />
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
	   
	 
 {% include boostrap-css.html %}        
	   
	   <style>
         html { font-size: 12pt; }	
         h1 { font-size: 1.50em; }
         h2 { font-size: 1.25em; }
         h3 { font-size: 1.1em; }
         h4 { font-size: 1.05em; }
         h5 { font-size: .83em; }
         h6 { font-size: .75em; }
         a, u {text-decoration: none; color:#0d47a1}  
         a:hover {
         background-color: #f9fbfd; color #4285F4;
         }
         .header, .footer {
         background: white;
         text-align: center;
         }
         .main {
         background: white;
         text-align: left;
         }
         .aside-1 {
         background: white;
         }
         .aside-2 {
         background: white;
         }
      </style>

	  
	  
	  
	  
<body>
<div id="fb-root"></div>
	   
<!-- facebook comments -->
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v10.0&appId=380094955367905&autoLogAppEvents=1" nonce="L8LbCvqH"></script>	   
<!-- facebook login -->
<script></script>	   
	   
	  
    <div class="preloader" style="opacity: 0; display: none;">
        <div class="preloader-inner">
            <div class="preloader-icon">
                <span></span>
                <span></span>
            </div>
        </div>
    </div>	   
	   
	   
	   
	   
	       <!-- Start Header Area -->
    <header class="header">
        <div class="navbar-area">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-12">
                        <nav class="navbar navbar-expand-lg">
<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="toggler-icon"></span>
                                <span class="toggler-icon"></span>
                                <span class="toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent">
                                <ul id="nav" class="navbar-nav me-auto">
                                    <li class="nav-item">
                                        <a class="page-scroll active" href="#hero-area">Home</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="page-scroll" href="#features">Agile</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="page-scroll" href="#explore">Scrum</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="page-scroll" href="#testimonials">Cloud</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="page-scroll" href="#download">DevOps</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="page-scroll" href="#contact">Contact</a>
                                    </li>
                                </ul>
                            </div>
                            <!-- navbar collapse -->
                            <div class="button">
                                <a href="#download" class="btn">Get Started</a>
                            </div>
                        </nav>
                        <!-- navbar -->
                    </div>
                </div>
                <!-- row -->
            </div>
            <!-- container -->
        </div>
        <!-- navbar area -->
    </header>
    <!-- End Header Area -->
	   
	   
	   
	   
	   
	   
	   
	   
	   
      <div class="container">
         <div class="row">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
               <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown">
               <span class="navbar-toggler-icon"></span>
               </button>
               <div class="collapse navbar-collapse" id="navbarNavDropdown">
                  <ul class="navbar-nav ml-auto">
                     <li class="nav-item active">
                        <a class="nav-link" href="https://www.rpacertified.com/index.html">
                        Production Testing</a>
                     </li>			  
			  
			  
                     <li class="nav-item active">
                        <a class="nav-link" href="https://www.rpacertified.com/index.html">
                        Home</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="https://www.rpacertified.com/cert-questions-answers.html">Practice Tests</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="https://www.rpacertified.com/study-guide-uipath.html">UiPath Study Guide</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="https://www.rpacertified.com/associate-objectives.html">Objectives</a>
                     </li>
                     <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown">
                        Contact Me
                        </a>
                        <div class="dropdown-menu">
                           <a class="dropdown-item" href="https://www.rpacertified.com/youtube-linkedin-twitter.html#twitter-uipath">Twitter</a>
                           <a class="dropdown-item" href="https://www.rpacertified.com/youtube-linkedin-twitter.html#youtube-uipath">YouTube</a>
                           <a class="dropdown-item" href="https://www.rpacertified.com/youtube-linkedin-twitter.html#linkedin-uipath">LinkedIn</a>
                        </div>
                     </li>
                  </ul>
               </div>
            </nav>
         </div>
		 
		 
         <div class="row">
            <article class="main col col-12 col-sm-12  col-md-8 col-lg-9 order-1 order-sm-1 order-lg-1 mt-3">
               <!--
			   <div class="card">
                  <div class="card-header">
                     {{ page.title }}
                  </div>
                  <img src="/assets/background-small4.jpg" class="card-img-top" alt="uipath certification">
                  <div class="card-body">
				  </div>
               </div>
			   -->
                     <!-- put a span in to stop the p tag from closing automatically -->
		    <!--h1>{{ page.title }}</h1-->
                     {{ content }}   
		    

		    
{% if page.canonical %}
<div class="fb-comments" data-href="{{ page.canonical }}" data-width="" data-numposts="20"></div>
{% else %}
<div class="fb-comments" data-href="{{site.url}}" data-width="" data-numposts="20"></div>	   
{% endif %}

            </article>
            <aside  class="aside-2 col col-12  col-sm-12  col-md-4 col-lg-3 order-2 order-sm-2 order-lg-2 mb-3">
 
               {% for post in site.posts limit:4 %}
               <div class="card mb-2">
                  <div class="card-header">
                     <a href="{{ post.url }}">{{ post.title }}</a>
                  </div>
                  <div class="card-body">
                     <p class="card-text">{{ post.blurb }}</p>
                     <a href="{{ post.url }}" class="btn btn-primary btn-sm">Check it out</a>
                  </div>
               </div>
               {% endfor %}
            </aside>
         </div>
      </div>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
	  
	  
	      <!-- ========================= JS here ========================= -->
	
	
	      <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
		  
		  
		  
    <script src="/assets/js/count-up.min.js"></script>
    <script src="/assets/js/wow.min.js"></script>
    <script src="/assets/js/tiny-slider.js"></script>
    <script src="/assets/js/glightbox.min.js"></script>
    <script src="/assets/js/imagesloaded.min.js"></script>
    <script src="/assets/js/isotope.min.js"></script>
    <script src="/assets/js/main.js"></script>
    <script type="text/javascript">
        //========= App Screenshort 
        tns({
            container: '.screenshort-slider',
            items: 1,
            slideBy: 'page',
            autoplay: false,
            mouseDrag: true,
            gutter: 0,
            nav: true,
            controls: false,
            controlsText: ['<i class="lni lni-chevron-left"></i>', '<i class="lni lni-chevron-right"></i>'],
            responsive: {
                0: {
                    items: 1,
                },
                540: {
                    items: 1,
                },
                768: {
                    items: 3,
                },
                992: {
                    items: 3,
                },
                1170: {
                    items: 4,
                }
            }
        });

        //========= glightbox
        GLightbox({
            'href': 'https://www.youtube.com/watch?v=r44RKWyfcFw&fbclid=IwAR21beSJORalzmzokxDRcGfkZA1AtRTE__l5N4r09HcGS5Y6vOluyouM9EM',
            'type': 'video',
            'source': 'youtube', //vimeo, youtube or local
            'width': 900,
            'autoplayVideos': true,
        });
    </script>
	  
	  
	  
   </body>
</html>
