<!DOCTYPE html>
<html class="no-js" lang="zxx">

<head>
	
	
	{% include head-common.html %} 
	
	
	
	
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>{{ page.title }}</title>

	<!-- React Code -->	
	
<link href="/flashcards/static/css/main.86d29117.css" rel="stylesheet">
<link rel="apple-touch-icon" href="/flashcards/logo192.png" />
<link rel="manifest" href="/exam/manifest.json" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" type="image/x-icon" href="/assets/favicon.ico" />
    <!-- Place favicon.ico in the root directory -->

    <!-- Web Font -->
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">

    <!-- ========================= CSS here ========================= -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/assets/css/LineIcons.2.0.css" />
    <link rel="stylesheet" href="/assets/css/animate.css" />
    <link rel="stylesheet" href="/assets/css/tiny-slider.css" />
    <link rel="stylesheet" href="/assets/css/glightbox.min.css" />
    <link rel="stylesheet" href="/assets/css/main.css" />
	
	{% if page.canonical %}
	<link rel="canonical" href="{{ page.canonical }}" />
	{% else %}
	<!-- This is the else for if canonical -->	   
	{% endif %}
	
	<!-- canonical attempt: {{ page.title }} -->
	{% if page.blurb %}
	<meta name="description" content="{{ page.blurb }}"/>   
	{% else %}
	<meta name="description" content="Quickly learn to code for certification exams with these fun drag and drop examples."/>   
	{% endif %}

	{% if page.keywords %}
	<link rel="keywords" href="{{ page.keywords }}" />
	{% else %}
	<meta name="keywords" content="AWS Certification Exam DevOps Scrum Agile Java DevSecOps Git Jenkins GitHub Scrumtuous Darcy DeClute"/>	   
	{% endif %}
	
			   <style>
         html { font-size: 12pt; }	
         h1 { font-size: 1.50em; }
         h2 { font-size: 1.25em; }
         h3 { font-size: 1.1em; }
         h4 { font-size: 1.05em; }
         h5 { font-size: .83em; }
         h6 { font-size: .75em; }
         a, u {text-decoration: none; color:#0d47a1}  
         a:hover {
         background-color: #f9fbfd; color #4285F4;
         }
         .header, .footer {
         background: white;
         text-align: center;
         }
         .main {
         background: white;
         text-align: left;
         }
         .aside-1 {
         background: white;
         }
         .aside-2 {
         background: white;
         }
      </style>

</head>

<body>
{% include navigation.html %} 





    <!-- Start Intro Video Area -->
    <section class="intro-video-area style4">
        <div class="container">
            <div class="video-inner ">
                <div class="row">
                    <div class="col-lg-12 offset-lg-12 col-md-12 col-12" style="padding:0">
                        <div class="section-title" style="padding:0;margin:0">




						
<span class="wow fadeInDown" data-wow-delay=".2s">{{page.roundbubble}}</span>
<h2 class="wow fadeInUp" data-wow-delay=".4s">{{page.headingtwo}}</h2>


<div id="app" style="background-color: silver; color: #f1f1f1; font-size: 1.5REM; padding: 10px 10px 10px 10px;" 
data-name="AWS Flashcards" data-param='{ "fid" : { "$in" : [{{page.cardnumbers}}] } }'></div> 

<span class="wow fadeInDown mt-2" data-wow-delay=".2s">Click-n-drag for hints: <span class="" style=" color:white">{{page.hints}}</span></span>						
						
						
						
						
						


                        </div>
                    </div>
					
					
					
					
                    
                </div>
				

            </div>
        </div>
    </section>



	
	
<section id="team" class="team style4 section" style="padding:0">
        <div class="container">

            <div class="row ">
                <!-- Single Team -->
                <div class="col-lg-3 col-md-6 col-12 ">
                    <div class="single-team wow fadeInUp" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                        <!-- Image -->
                        <div class="image">
                            <img src="/assets/more-flashcards-400.png" alt="#">
                            <!-- Social -->
                            <ul class="social">
                                <li><a href="#"><i class="lni lni-facebook-filled"></i></a></li>
                                <li><a href="#"><i class="lni lni-twitter-original"></i></a></li>
                                <li><a href="#"><i class="lni lni-linkedin-original"></i></a></li>
                                <li><a href="#"><i class="lni lni-behance-original"></i></a></li>
                            </ul>
                            <!-- End Social -->
                        </div>
                        <!-- End Image -->
                        <div class="info-head">
                            <!-- Info Box -->
                            <div class="info-box">
                                <h4 class="name"><a href="team-single.html">More AWS Flashcards</a></h4>
                                <span class="designation">Reinforce your learning</span>
                            </div>
                            <!-- End Info Box -->
                        </div>
                    </div>
                </div>
                <!-- End Single Team -->
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="single-team wow fadeInUp" data-wow-delay=".4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                        <!-- Image -->
                        <div class="image">
                            <img src="/assets/more-exams-400.png" alt="#">
                            <!-- Social -->
                            <ul class="social">
                                <li><a href="#"><i class="lni lni-facebook-filled"></i></a></li>
                                <li><a href="#"><i class="lni lni-twitter-original"></i></a></li>
                                <li><a href="#"><i class="lni lni-linkedin-original"></i></a></li>
                                <li><a href="#"><i class="lni lni-behance-original"></i></a></li>
                            </ul>
                            <!-- End Social -->
                        </div>
                        <!-- End Image -->
                        <div class="info-head">
                            <!-- Info Box -->
                            <div class="info-box">
                                <h4 class="name"><a href="team-single.html">Practice AWS Exams</a></h4>
                                <span class="designation">Test your AWS exam knowledge</span>
                            </div>
                            <!-- End Info Box -->
                        </div>
                    </div>
                </div>
                <!-- End Single Team -->
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="single-team wow fadeInUp" data-wow-delay=".6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">
                        <!-- Image -->
                        <div class="image">
                            <img src="/assets/more-drag-and-drop-400.png" alt="#">
                            <!-- Social -->
                            <ul class="social">
                                <li><a href="#"><i class="lni lni-facebook-filled"></i></a></li>
                                <li><a href="#"><i class="lni lni-twitter-original"></i></a></li>
                                <li><a href="#"><i class="lni lni-linkedin-original"></i></a></li>
                                <li><a href="#"><i class="lni lni-behance-original"></i></a></li>
                            </ul>
                            <!-- End Social -->
                        </div>
                        <!-- End Image -->
                        <div class="info-head">
                            <!-- Info Box -->
                            <div class="info-box">
                                <h4 class="name"><a href="team-single.html">Drag and Drop Fun</a></h4>
                                <span class="designation">Interactively learn AWS</span>
                            </div>
                            <!-- End Info Box -->
                        </div>
                    </div>
                </div>
                <!-- End Single Team -->
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="single-team wow fadeInUp" data-wow-delay=".8s" style="visibility: visible; animation-delay: 0.8s; animation-name: fadeInUp;">
                        <!-- Image -->
                        <div class="image">
                            <img src="/assets/more-videos-400.png" alt="#">
                            <!-- Social -->
                            <ul class="social">
                                <li><a href="#"><i class="lni lni-facebook-filled"></i></a></li>
                                <li><a href="#"><i class="lni lni-twitter-original"></i></a></li>
                                <li><a href="#"><i class="lni lni-linkedin-original"></i></a></li>
                                <li><a href="#"><i class="lni lni-behance-original"></i></a></li>
                            </ul>
                            <!-- End Social -->
                        </div>
                        <!-- End Image -->
                        <div class="info-head">
                            <!-- Info Box -->
                            <div class="info-box">
                                <h4 class="name"><a href="team-single.html">Video Tutorials</a></h4>
                                <span class="designation">Learn from an AWS expert</span>
                            </div>
                            <!-- End Info Box -->
                        </div>
                    </div>
                </div>
                <!-- End Single Team -->
            </div>
			
			<div class="row mt-5">
                <div class="col-12">
                    <div class="section-title style4 align-center gray-bg">
                        <span class="wow fadeInDown" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInDown;">Get Learning!</span>
                        <h2 class="wow fadeInUp" data-wow-delay=".4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">More AWS Flashcards, Practice Exams and Tutorials for you</h2>
                        <p class="wow fadeInUp" data-wow-delay=".6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">We have many more AWS Flashcards to help you get certified. And we have a number of Practice Exams, Execercises and Tutorials for you to check out as well.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>	
	
	
	
	
	
	
	
	
	
	
	
	

    <!-- Start Achivement Area -->
    <section class="our-achievement style4 section">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="single-achievement wow fadeInUp" data-wow-delay=".2s">
                        <i class="lni lni-user"></i>
                        <h3 class="counter"><span id="secondo1" class="countup" cup-end="264">264</span>K+</h3>
                        <p>Active Users</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="single-achievement wow fadeInUp" data-wow-delay=".4s">
                        <i class="lni lni-users"></i>
                        <h3 class="counter"><span id="secondo2" class="countup" cup-end="100">100</span>K+</h3>
                        <p>Team Members</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="single-achievement wow fadeInUp" data-wow-delay=".6s">
                        <i class="lni lni-code"></i>
                        <h3 class="counter"><span id="secondo3" class="countup" cup-end="855">855</span>K+</h3>
                        <p>Line Of Code</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="single-achievement wow fadeInUp" data-wow-delay=".6s">
                        <i class="lni lni-coffee-cup"></i>
                        <h3 class="counter"><span id="secondo3" class="countup" cup-end="295">295</span>K+</h3>
                        <p>Cup Of Coffee</p>
                    </div>
                </div>
				
								<div class="row">
				
				


                     {% include flashcards-all.html %}


				
				
				
				
				</div>
				
				
            </div>
        </div>
    </section>
    <!-- End Achivement Area -->



    <!-- Start Footer Area -->
    <footer class="footer style4">
        <div class="footer-middle">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-12">
                        <!-- Single Widget -->
                        <div class="f-about single-footer">
                            <div class="logo">
                                <a href="index.html"><img src="/assets/scrumtuous-logo-575x70.gif" alt="Logo"></a>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt.</p>
                            <div class="footer-social">
                                <ul>
                                    <li><a href="#"><i class="lni lni-facebook-original"></i></a></li>
                                    <li><a href="#"><i class="lni lni-twitter-original"></i></a></li>
                                    <li><a href="#"><i class="lni lni-linkedin-original"></i></a></li>
                                    <li><a href="#"><i class="lni lni-google"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- End Single Widget -->
                    </div>
                    <div class="col-lg-8 col-md-8 col-12">
                        <div class="row">
                            <div class="col-lg-3 col-md-6 col-12">
                                <!-- Single Widget -->
                                <div class="single-footer sm-custom-border f-link">
                                    <h3>About Us</h3>
                                    <ul>
                                        <li><a href="#">Home</a></li>
                                        <li><a href="#">Features</a></li>
                                        <li><a href="#">Explore</a></li>
                                        <li><a href="#">Testimonials</a></li>
                                    </ul>
                                </div>
                                <!-- End Single Widget -->
                            </div>
                            <div class="col-lg-3 col-md-6 col-12">
                                <!-- Single Widget -->
                                <div class="single-footer sm-custom-border f-link">
                                    <h3>Features</h3>
                                    <ul>
                                        <li><a href="#">Easy to use</a></li>
                                        <li><a href="#">Work on all device</a></li>
                                        <li><a href="#">Always up to date</a></li>
                                        <li><a href="#">Track your devices</a></li>
                                    </ul>
                                </div>
                                <!-- End Single Widget -->
                            </div>
                            <div class="col-lg-3 col-md-6 col-12">
                                <!-- Single Widget -->
                                <div class="single-footer md-custom-border sm-custom-border f-link">
                                    <h3>Services</h3>
                                    <ul>
                                        <li><a href="#">Digital Marketing</a></li>
                                        <li><a href="#">Content Writing</a></li>
                                        <li><a href="#">SEO for Business</a></li>
                                        <li><a href="#">UI Design</a></li>
                                    </ul>
                                </div>
                                <!-- End Single Widget -->
                            </div>
                            <div class="col-lg-3 col-md-6 col-12">
                                <!-- Single Widget -->
                                <div class="single-footer md-custom-border sm-custom-border f-contact">
                                    <h3>Contact Info</h3>
                                    <ul>
                                        <li><i class="lni lni-map-marker"></i> 113 Sassnex, White House, New Jercy, USA
                                        </li>
                                        <li><i class="lni lni-envelope"></i> info@yourdomain.com</li>
                                        <li><i class="lni lni-phone"></i> +001 548 159 2491</li>
                                    </ul>
                                </div>
                                <!-- End Single Widget -->
                            </div>
                        </div>
                    </div>
					
					
					
					
					
					
                </div>
            </div>
        </div>
        <!--/ End Footer Middle -->
        <!-- Start Footer Bottom -->
        <div class="footer-bottom">
            <div class="container">
                <div class="inner">
                    <div class="row">
                        <div class="col-12">
                            <div class="left">
                                <p>Designed and Developed by<a href="https://graygrids.com/" rel="nofollow"
                                        target="_blank">GrayGrids</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Footer Middle -->
    </footer>
    <!--/ End Footer Area -->

    <!-- ========================= scroll-top ========================= -->
    <a href="#" class="scroll-top style4 btn-hover">
        <i class="lni lni-chevron-up"></i>
    </a>

    <!-- ========================= JS here ========================= -->
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/count-up.min.js"></script>
    <script src="/assets/js/wow.min.js"></script>
    <script src="/assets/js/tiny-slider.js"></script>
    <script src="/assets/js/glightbox.min.js"></script>
    <script src="/assets/js/imagesloaded.min.js"></script>
    <script src="/assets/js/isotope.min.js"></script>
    <script src="/assets/js/main.js"></script>
    <script type="text/javascript">
        //========= glightbox
        GLightbox({
            'href': 'https://www.youtube.com/watch?v=r44RKWyfcFw&fbclid=IwAR21beSJORalzmzokxDRcGfkZA1AtRTE__l5N4r09HcGS5Y6vOluyouM9EM',
            'type': 'video',
            'source': 'youtube', //vimeo, youtube or local
            'width': 900,
            'autoplayVideos': true,
        });

        //======== Hero Slider
        var slider = new tns({
            container: '.hero-slider',
            slideBy: 'page',
            autoplay: true,
            autoplayButtonOutput: false,
            mouseDrag: true,
            gutter: 0,
            items: 1,
            nav: false,
            controls: true,
            controlsText: [
                '<i class="lni lni-chevron-left"></i>',
                '<i class="lni lni-chevron-right"></i>'
            ],
            responsive: {
                1200: {
                    items: 1,
                },
                992: {
                    items: 1,
                },
                0: {
                    items: 1,
                }

            }
        });
        //======== Testimonial Slider
        var slider = new tns({
            container: '.testimonial-slider',
            slideBy: 'page',
            autoplay: false,
            mouseDrag: true,
            gutter: 0,
            items: 1,
            nav: true,
            controls: false,
            controlsText: [
                '<i class="lni lni-arrow-left prev"></i>',
                '<i class="lni lni-arrow-right next"></i>'
            ],
            responsive: {
                1200: {
                    items: 1,
                },
                992: {
                    items: 1,
                },
                0: {
                    items: 1,
                }

            }
        });

        //============== isotope masonry js with imagesloaded
        imagesLoaded('#container', function () {
            var elem = document.querySelector('.grid');
            var iso = new Isotope(elem, {
                // options
                itemSelector: '.grid-item',
                masonry: {
                    // use outer width of grid-sizer for columnWidth
                    columnWidth: '.grid-item'
                }
            });

            let filterButtons = document.querySelectorAll('.portfolio-btn-wrapper button');
            filterButtons.forEach(e =>
                e.addEventListener('click', () => {

                    let filterValue = event.target.getAttribute('data-filter');
                    iso.arrange({
                        filter: filterValue
                    });
                })
            );
        });
    </script>

<script defer="defer" src="/flashcards/static/js/main.9f45f52c.js"></script>


</body>

</html>
