<div class="list-group-item" style="background: linear-gradient(45deg, #6831e3, #f528cb); display: flex; align-items: center; justify-content: center;">
    <img src="/assets/klingon-flag.svg" alt="klingon-flag" height="44" width="44">&nbsp;
    <img src="/assets/klingon-flag.svg" alt="klingon-flag" height="44" width="44">&nbsp;
    <img src="/assets/klingon-flag.svg" alt="klingon-flag" height="44" width="44">&nbsp;
    <img src="/assets/klingon-flag.svg" alt="klingon-flag" height="44" width="44">
</div>